<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <div>
        <div class="card">
                <img class="center" width="" src="https://singhanias.in/cdn/shop/collections/4a24c5e7603fce154af2aa624cb1a720.jpg?v=1687191179" alt="sareeposter">
                <div>
                  <h1 class="centered ">वेगवेगळ्या नऊवारी साडी डीजाईन</h1>   
                </div>
        </div>
    
        <div class="ui grid" >
            <div class="four wide column">
              <div class="ui vertical fluid tabular menu">
                <a class="item" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    ब्राह्मणी साडी
                </a>
                <a class="item" routerLink="rajlaxmisaree" routerLinkActive="active">
                    राजलक्ष्मी साडी
                </a>
                <a class="item" routerLink="lavanisaree" routerLinkActive="active">
                    लावणी साडी
                </a>
                <a class="item" routerLink="mastanisaree" routerLinkActive="active">
                    मस्तानी साडी
                </a>
                <a class="item" routerLink="peshwaisaree" routerLinkActive="active">
                    पेशवाई साडी 
                  </a>
                  <a class="item" routerLink="shahimastanisaree" routerLinkActive="active">
                    शाही मस्तानी साडी
                  </a>
                  <a class="item" routerLink="mahalaxmisaree" routerLinkActive="active">
                    महालक्ष्मी साडी
                  </a>
              </div>
            </div>
            <div class="twelve wide stretched column">
              <div class="ui segment">
                  <router-outlet></router-outlet>
              </div>
            </div>
          </div>
    
    </div>
</body>
</html>

<!-- -->

