
<div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/WI/IQ/FI/9758846/rajlaxmi-nauvari-saree-mau-silk-.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/GT/ID/ZD/9758846/rajlaxmi-nauvari-saree-acrylik-.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/RY/VK/QK/9758846/belgaon-silk-mastani-nauvari-saree-front-side.jpg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
           
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/KJ/ZV/OZ/9758846/rajlaxmi-nauvari-saree-belgaon-silk--500x500.jpg" style="height: 400;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card" style="height: 400;">
              <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/KE/CZ/OO/9758846/rajlaxmi-nauvari-saree-khan-.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="height: 400;">
              <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/ZH/SB/YY/9758846/rajlaxmi-nauvari-saree-mau-silk-.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
          </div>
      </div>
</div>
