
<div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://i.pinimg.com/originals/41/91/16/419116180c02dce8a53399595ac6eea2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://m.media-amazon.com/images/I/61OpvyJZ7ZL.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://assets.ajio.com/medias/sys_master/root/20210708/SeFH/60e649b8aeb269a9e33d3533/-1117Wx1400H-462610910-pink-MODEL.jpg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
           
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/JB/SX/YN/9758846/shahi-mastani-nauvari-saree-acrylik--500x500.jpg" style="height: 400;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card" style="height: 400;">
              <img src="https://5.imimg.com/data5/HW/SF/BP/SELLER-46383267/mastani-nauvari-saree-500x500.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="height: 400;">
              <img src="https://assets0.mirraw.com/images/8816859/Z7dvvGa_zoom.jpg?1616394343" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
          </div>
      </div>
</div>

