
<div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://content.jdmagicbox.com/rep/b2b/readymade-nauvari-saree/readymade-nauvari-saree-8.jpg?impolicy=queryparam&im=Resize=(360,360),aspect=fit" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://assets.ajio.com/medias/sys_master/root/20220425/Qkmj/6266b931f997dd03e27ecae8/-473Wx593H-464225388-green-MODEL5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://content.jdmagicbox.com/rep/b2b/nauvari-wedding-saree/nauvari-wedding-saree-10.jpg?impolicy=queryparam&im=Resize=(360,360),aspect=fit"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
           
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://image1.jdomni.in/product/16082020/68/26/6F/0302C9FD00069970C7FEA00653_1597585253166.jpg" style="height: 400;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card" style="height: 400;">
              <img src="https://kalapuri.com/cdn/shop/products/RDNVSR1002Red_4.jpg?v=1652442162" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="height: 400;">
              <img src="https://i.pinimg.com/originals/66/68/48/6668483e02f7743c0657080a5ca712af.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
          </div>
      </div>
</div>
