
<div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://images.meesho.com/images/products/282817202/6fzoj_512.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://m.media-amazon.com/images/I/81x45RRor+S._UL1500_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://images-eu.ssl-images-amazon.com/images/I/81XfYQ715gL._AC_SR462,693_.jpg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
           
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/JB/SX/YN/9758846/shahi-mastani-nauvari-saree-acrylik--500x500.jpg" style="height: 400;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card" style="height: 400;">
              <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/XP/EY/LP/9758846/mastani-nauvari-saree-belgaon-silk-.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="height: 400;">
              <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/WY/DS/CE/9758846/rajlaxmi-nauvari-saree-acrylik--500x500.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
          </div>
      </div>
</div>


