<div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://i.pinimg.com/736x/9b/71/85/9b71853d5ea66ba0427bc981bf0e7d8c.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://image1.jdomni.in/product/16082020/3F/12/B3/F20D7DE7C4FDE03B72586D2686_1597575827014.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://5.imimg.com/data5/SELLER/Default/2021/5/RF/DF/US/9758846/brahmani-nauvari-saree-acrylik-.jpg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
           
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoaEwI4pB50p0Df1vmUFS6uiByczu7fyyg9AwLIB17DTRyROMizFesitm_YydENnzvrXg&usqp=CAU" style="height: 400;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card" style="height: 400;">
              <img src="https://i.pinimg.com/736x/25/53/be/2553bec4a5077158b329e0b9b28bf3ee.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="height: 400;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrGp6KhaH1KUqh_o4rpnYfNu3yDuORW_Kz_g&usqp=CAU" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
            </div>
          </div>
      </div>
</div>
